<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body>
    <h1 class="text-3xl font-bold underline text-red-500 flex justify-center">
        log in !
      </h1>
    
    <div class="flex  justify-center bg-blue-500 ">
        <form action="/login" method="post">
           
            
            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email"><br>
            
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password"><br><br>
            
            <input class="bg-white ml-16" type="submit" value="Submit">
          </form>

          
    </div>
  
    
</body>
</html>